<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>@ViewBag.Title - ООО ВРЮЦ</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" as="font">
    <link rel="stylesheet" type="text/css" href="~/Content/general.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/contacts.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/request.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/requestStatus.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/service.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/propertySearch.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/usTrust.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/videos.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/video.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jsFuncs.js"></script>

    <script type="text/javascript">

        function dropList(dropDownID) {
            if (document.getElementById(dropDownID).classList.contains('show')) {
                document.getElementById(dropDownID).classList.remove('show');
            } else {
                document.getElementById(dropDownID).classList.add('show');
            }
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropElement')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function ContractBlock(checkboxId) {
            if (document.getElementById(checkboxId).checked) {
                document.getElementById("submitButton").disabled = false;
            } else {
                document.getElementById("submitButton").disabled = true;
            }
        }
    </script>

</head>
<body>
    <div id="header">
        <div class="logoDiv">
            <a href="@Url.Action("Index", "Home")"> <img src='~/images/logo3_png.png' alt="ООО ВРЮЦ Владимир" /> </a>
        </div>

        <div class="mobileHeaderRequestDiv" id="headerMobile">
            <div class="contactsIconDiv"><a href="@Url.Action("Request", "Home")"><img src="~/images/request.png" /></a></div>
            <div class="contactsInfDiv"><a href="@Url.Action("Request", "Home")">Запись на консультацию</a></div>
        </div>

        <div class="mobileHeaderPhoneDiv" id="headerMobile">
            <div class="contactsIconDiv"> <img src="~/images/phone.png" /></div>
            <div class="contactsInfDiv">+7-4922-53-00-95</div>
        </div>

        <div class="mobileHeaderEmailDiv" id="headerMobile">
            <div class="contactsIconDiv"> <img src="~/images/email1.png" /></div>
            <div class="contactsInfDiv">rubisdv@mail.ru</div>
        </div>

        <div class="dropdown">
            <button onclick="dropList('myDropdown')" class="dropbtn dropElement">
                <img onclick="if (document.getElementById(dropDownID).className.match('show')) {document.getElementById(dropDownID).className.replace('show','');} else {document.getElementById(dropDownID).className += ' show';}" class="dropElement" src='~/images/menu.png' />
                Меню
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="@Url.Action("Index", "Home")">Главная</a>
                <a href="@Url.Action("Services", "Home")">Услуги</a>
                <a href="@Url.Action("UsTrust", "Home")">Нам доверяют</a>
                <a href="@Url.Action("Contacts", "Home")">Контакты</a>
                <a href="@Url.Action("Videos", "Home")">Видео</a>
                <a href="@Url.Action("PropertySearch", "Home")">Розыск имущества</a>
                <a href="#">Покупка долгов</a>
            </div>
        </div>

        <div class="frstHeaderMenuDiv">
            <div class="scndHeaderMenuDiv">
                <div class="thrdHeaderMenuDiv">
                    <div class="frthHeaderMenuDiv">
                        <div class="headerMenuDiv">
                            <div class="navDiv">
                                <ul>
                                    <li><a href="@Url.Action("Services", "Home")">Услуги </a></li>
                                    <li><a href="@Url.Action("UsTrust", "Home")">Нам доверяют</a></li>
                                    <li><a href="@Url.Action("Contacts", "Home")">Контакты</a></li>
                                    <li><a href="@Url.Action("Videos", "Home")">Видео</a></li>
                                    <li><a href="@Url.Action("PropertySearch", "Home")">Розыск имущества</a></li>
                                    <li><a href="#">Покупка долгов</a></li>
                                </ul>
                            </div>
                            <div class="contactsDiv">
                                <div class="contactsDivScnd">
                                    <div class="contactsIconDiv"> <img src="~/images/phone.png" /></div>
                                    <div class="contactsInfDiv">+7-4922-53-00-95</div>
                                </div>

                                <div class="contactsDivScnd">
                                    <div class="contactsIconDiv"><a href="@Url.Action("Request", "Home")"><img src="~/images/request.png" /></a></div>
                                    <div class="contactsInfDiv"><a href="@Url.Action("Request", "Home")">Запись на консультацию</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div id="footer">
        <p class="copyrightP">© ООО "ВРЮЦ", 2020</p>
        <div class="footerMenuAddrDiv">
            <ul class="navDivFooter">
                <li><a href="@Url.Action("Services", "Home")">Услуги </a></li>
                <li><a href="@Url.Action("UsTrust", "Home")">Нам доверяют</a></li>
                <li><a href="@Url.Action("Contacts", "Home")">Контакты</a></li>
                <li><a href="@Url.Action("Videos", "Home")">Видео</a></li>
                <li><a href="@Url.Action("PropertySearch", "Home")">Розыск имущества</a></li>
                <li><a href="#">Покупка долгов</a></li>
            </ul>
            <div class="footerAddrDiv">
                <div class="contactsIconDiv"> <img src="~/images/location.png" /></div>
                <div class="footerAddrDivText">г. Владимир, ул. Мира, дом 22</div>
            </div>
        </div>
        <div class="contactsDiv footerContactsDiv">

            <div class="contactsDivScnd">
                <div class="contactsIconDiv"> <img src="~/images/email1.png" /></div>
                <div class="contactsInfDiv">rubisdv@mail.ru</div>
            </div>

            <div class="contactsDivScnd">
                <div class="contactsIconDiv"> <img src="~/images/phone.png" /></div>
                <div class="contactsInfDiv">+7-4922-53-00-95</div>
            </div>

            <div class="contactsDivScnd">
                <div class="contactsIconDiv"><a href="@Url.Action("Request", "Home")"><img src="~/images/request.png" /></a></div>
                <div class="contactsInfDiv"><a href="@Url.Action("Request", "Home")">Запись на консультацию</a></div>
            </div>

        </div>


    </div>

</body>

</html>
