@{
    ViewBag.Title = "Команда";
}

<div class="linkDiv">
    <a href="@Url.Action("Index", "Home")">Главная ></a>
    <a href="#"> Команда</a>
</div>
<table class="normTable">
    <tr>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Рубис Владимир</h2>
                    <h2>Сергеевич</h2>

                    <div class="jobDiv">
                        Генеральный директор
                    </div>
                    <a href="@Url.Action("Person", "Home",new {id = 1}, null)"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Рубис Дмитрий </h2>
                    <h2>Владимирович</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="@Url.Action("Person", "Home",new {id = 2}, null)"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Варламова Ольга </h2>
                    <h2>Александровна</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Фамилия Имя</h2>
                    <h2>Отчество</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Фамилия Имя</h2>
                    <h2>Отчество</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
    </tr>
</table>

<table class="slimTable">
    <tr>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Рубис Владимир</h2>
                    <h2>Сергеевич</h2>

                    <div class="jobDiv">
                        Генеральный директор
                    </div>
                    <a href="@Url.Action("Person", "Home",new {id = 1}, null)"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Рубис Дмитрий </h2>
                    <h2>Владимирович</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="@Url.Action("Person", "Home",new {id = 2}, null)"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Варламова Ольга </h2>
                    <h2>Александровна</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Фамилия Имя</h2>
                    <h2>Отчество</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="cellDiv">
                <div class="cellPhotoDiv">
                    <h2>Фото</h2>
                </div>
                <div class="smallInfoDiv">
                    <h2>Фамилия Имя</h2>
                    <h2>Отчество</h2>

                    <div class="jobDiv">
                        Должность
                    </div>
                    <a href="#"><button>Подробнее</button> </a>
                </div>
            </div>
        </td>
    </tr>
</table>